
build
module-core/build
module-services/build

buildclient
bin
node_modules
tmp
.project
.idea
.gradle
.DS_Store
\${sys:logs.dir}
.classpath
.settings
.vscode/

iris-authoring.iml

out/
*.iml
npm-debug.log
